.rake_test_cache

.chef/*.pem
.chef/*.rb

.DS_Store
*~
client-config/*.pem
client-config/*.rb

.rvmrc
.ruby-gemset

.bundle
.cache
.kitchen

tmp/*

Vagrantfile
tests/*
test/*
.vagrant

.berkshelf/*
Berksfile.lock
.chef/syntax_check_cache/*

# test-kitchen
.kitchen/
.kitchen.local.yml

cookbooks/*

VERSION
